blinker==1.8.2
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==42.0.8
Flask==3.0.3
Flask-Markdown==0.3
Flask-Misaka==1.0.1
Flask-QRcode==3.2.0
Flask-WTF==1.2.1
globus-sdk==1.7.1
idna==3.7
importlib_metadata==8.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
Markdown==3.6
MarkupSafe==2.1.5
misaka==2.1.1
pillow==10.3.0
pycparser==2.22
pygal==2.1.1
PyJWT==1.7.1
pypng==0.20220715.0
qrcode==7.4.2
requests==2.32.3
six==1.16.0
typing_extensions==4.12.2
urllib3==2.2.2
Werkzeug==3.0.3
WTForms==3.1.2
zipp==3.19.2
