{%extends "base.html"%}

{%block title%}{% if 'osg' in session['url_root'] %}Projects{%else%}Groups{%endif%}{%endblock%}

{%block body%}

<section id="projets">
  <div class="container col-lg-12 mx-auto">

    <div class='row'>
      <div class="col-lg-12 mx-auto">
        {%include 'messages.html' %}
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          {% if 'osg' in session['url_root'] %}
          <li class="breadcrumb-item">Projects</li>
          {% else %}
          <li class="breadcrumb-item">Projects</li>
          {% endif %}
        </ol>

        <div class="table-responsive">
          <table class="table" id="groups-table" data-toggle="table" data-sort-name="name" data-sort-order="desc">
            <thead>
              <tr>
                <th data-field="name" data-sortable="true">Name</th>
                <th data-field="email" data-sortable="true">Email</th>
                <th data-field="phone" data-sortable="true">Phone</th>
                <th data-field="field-of-science" data-sortable="true">Field of Science</th>
                <th data-field="description" data-sortable="true">Description</th>
              </tr>
            </thead>
            <tbody data-link="row" class="rowlink" style="font-size:14px;">
              {% for group in groups %}
                {% if group['name'] != 'root' %}
              <tr>
                <td><a href="{{url_for('view_group', group_name=group['name'])}}">{{'.'.join(group['name'].split('.')[1:])}}</a></td>
                <td>{{group['email']}}</td>
                <td>{{group['phone']}}</td>
                <td>{{group['field_of_science']}}</td>
                <td>{{group['description']}}</td>
              </tr>
                {% endif %}
              {% endfor %}
            </tbody>

          </table>
        </div>

      </div>
    </div>

  </div> <!-- container -->
</section>

<script>
$(document).ready(function() {
    $('#groups-table').DataTable();
});
</script>
{%endblock%}
