{%extends "base.html"%}

{%block title%}
  Group -
{%endblock%}

{%block body%}
<section id="cli-access" class="bg-light">
  <div class="container col-lg-12 mx-auto">

    <div class="row">
      <div class="col-lg-12 mx-auto">
        {%include 'messages.html' %}
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="{{url_for('groups')}}">Groups</a></li>
          <li class="breadcrumb-item"><a href="{{url_for('view_group', group_name=group_name)}}">{{display_name}}</a></li>
          <li class="breadcrumb-item active">Members</li>
        </ol>
        <h2>Group: {{display_name}}</h2>
        <br>
        <div class="btn-toolbar" role="toolbar">
          {% if user_status == 'nonmember' %}
          <div class="btn-group mr-2" role="group", aria-label="first group">
            <form role="form" action="{{url_for('view_group', group_name=group_name)}}" method="POST" onsubmit="return confirm('Are you sure you want to request to join this group?');">
              <button type="submit" name="request_group" class="btn btn-primary btn-sm" data-submit="Requesting Membership...">Request Membership</button>
            </form>
          </div>
          {% elif user_status == 'pending'%}
          <div class="btn-group mr-2" role="group", aria-label="first group">
            <button type="submit" name="pending_membership" class="btn btn-warning btn-sm disabled" data-submit="Pending Membership..."><i class="fas fa-spinner fa-spin"></i> Requested Membership</button>
          </div>
          {% elif user_status == 'admin' %}
          <div class="btn-group mr-2" role="group" aria-label="first group">
            <a href="#" class="btn btn-secondary btn-sm">Edit Info</a>
          </div>
          <div class="btn-group mr-2" role="group", aria-label="second group">
            <form role="form" action="{{url_for('delete_group', group_name=group_name)}}" method="POST" onsubmit="return confirm('Are you sure you want to delete this group?');">
              <button type="submit" name="delete_group" class="btn btn-danger btn-sm" data-submit="Deleting Group...">Delete Group</button>
            </form>
          </div>
          {% endif %}
        </div>

        <br/>

        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('view_group', group_name=group_name)}}"><i class="fas fa-cubes"></i> Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#"><i class="fas fa-user-friends"></i> Members</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('view_group_subgroups', group_name=group_name)}}"><i class="fas fa-project-diagram"></i> Subgroups</a>
          </li>
        </ul>
        <br>

        <div class="row">
          <div class="col-sm-12">
            <div class="table-responsive">
              <h4>Members in Group</h4>
              <table class="table" id="groups-table" data-toggle="table" data-sort-name="name" data-sort-order="desc">
                <thead>
                  <tr>
                    <th data-field="name" data-sortable="true">Name</th>
                    <th data-field="email" data-sortable="true">Email</th>
                    <th data-field="phone" data-sortable="true">Phone</th>
                    <th data-field="institution" data-sortable="true">Institution</th>
                    <th data-field="status" data-sortable="true">Status</th>
                    {% if user_super %}
                    <th data-field="action" data-sortable="true">Action</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody data-link="row" class="rowlink" style="font-size:14px;">
                  {% for member, user_id, user_state in group_members %}
                  <tr>
                    <td>{{member['name']}} - {{ user_id }}</td>
                    <td>{{member['email']}}</td>
                    <td>{{member['phone']}}</td>
                    <td>{{member['institution']}}</td>
                    <td>{{user_state}}</td>
                    {% if user_super %}
                    <td>
                      <div class="btn-group">
                        {% if user_state == 'pending' %}
                        <form role="form" action="{{url_for('add_group_member', group_name=group_name, user_id=user_id)}}" method="POST" onsubmit="return confirm('Are you sure you want to confirm this member?');">
                          <button type="submit" name="add_group_member" class="btn btn-xs btn-success" data-submit="Adding Member..."><i class="fas fa-check-circle"></i> Accept</button>
                        </form>
                        {% endif %}
                        <form role="form" action="{{url_for('remove_group_member', group_name=group_name, user_id=user_id)}}" method="POST" onsubmit="return confirm('Are you sure you want to remove this member?');">
                          <button type="submit" name="remove_group_member" class="btn btn-xs btn-danger" data-submit="Removing Member..."><i class="fas fa-times-circle"></i> Remove</button>
                        </form>
                        <form role="form" action="{{url_for('admin_group_member', group_name=group_name, user_id=user_id)}}" method="POST" onsubmit="return confirm('Are you sure you want to make this member an admin?');">
                          <button type="submit" name="admin_group_member" class="btn btn-xs btn-warning" data-submit="Making Member Admin..."><i class="fas fa-user-shield"></i> Make Admin</button>
                        </form>
                        <!-- <button type="button" class="btn btn-sm btn-warning"><i class="fas fa-user-shield"></i> Make Admin</button> -->
                      </div>
                    </td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>

              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<script>

function btnConfirm() {
    var r = confirm("Are you sure you want to delete this secret?");
    if(r == true){
      window.location.href = "#";
    } else {
      return
    }
}

</script>
{%endblock%}
