{%extends "base.html"%}

{%block title%}Home{%endblock%}

{%block body%}

<!-- Page Header -->

<header class="text-white" style="height: 100%;" id="hero">
  <div class="container text-center">
    <img src="{{url_for('static', filename='img/OSGConnect_Logo.png')}}" style="width:30%;">
    <h2>Front door to the OSG's <a href="https://opensciencegrid.org/about/open_science_pool/" target="_blank">Open Science Pool</a></h2>
    <h6><a href="https://www.youtube.com/watch?v=5FMAFxROGv0">Learn more about what is available for running high throughput computing workloads</a></h6>
    <h4 class="lead">
      <span class="rotating text-muted">
        {{home_text_rotating}}
      </span>
    </h4>
    {% if session.get('is_authenticated') %}
    {% else %}
    <a role="button" href="https://portal.osg-htc.org/application" class="btn btn-primary">Sign Up for OSPool Access</a>
    {% endif %}
    <!-- <p class="lead" id='base-p'>Main OSG website may be found <a href="https://osgconnect.net/" target="_blank">here</a></p> -->
  </div>
</header>
<br>
<!-- Page footer -->
{%include 'footer.html'%}

<script type="text/javascript">

$('.carousel').carousel()

</script>
{%endblock%}
