{%extends "base.html"%}

{%block title%}
  Create Profile
{%endblock%}

{%block body%}
<section id="profile" class="bg-light">
  <div class="container col-lg-12">
    <!-- <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active">Profile</li>
    </ol> -->
    {%include 'messages.html'%}
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Create Profile</h2>
        <p class="asterik">* = required field</p>
        <hr/>
        <form role="form" action="{{url_for('create_profile')}}" method="POST">
          <div class="form-group">
            <label for="name">Name <span class="asterik">*</span> <i class="fas fa-question-circle" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Full name, ex: John Smith"></i></label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              placeholder="{{session['name']}}"
              value="{{session['name']}}"
              required="required"
              tabindex="1"
            >
          </div>

          <div class="form-group">
            <label for="unix_name">UNIX User Name <span class="asterik">*</span> <i class="fas fa-question-circle" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Unique UNIX convention user name. No whitespace or special characters."></i></label>
            <input
              type="text"
              class="form-control"
              id="unix_name"
              name="unix_name"
              placeholder="UNIX alpha-numeric and underscore"
              value="{{unix_name}}"
              required="required"
              tabindex="2"
            >
          </div>

          <div class="form-group">
            <label for="phone-number">Phone <span class="asterik">*</span> <i class="fas fa-question-circle" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Contact phone number"></i></label>
            <input
              type="tel"
              id="phone-number"
              name="phone-number"
              class="form-control"
              placeholder="111 111 1111"
              value="{{phone}}"
              required="required"
              tabindex="3"
            >
          </div>

          <div class="form-group">
            <label for="institution">Institution <span class="asterik">*</span> <i class="fas fa-question-circle" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Name of institutional organization"></i></label>
            <input
              type="text"
              id="institution"
              name="institution"
              class="form-control"
              placeholder="Institution Name"
              value="{{session['institution']}}"
              required="required"
              tabindex="4"
            >
          </div>

          <div class="form-group">
            <label for="email">Email <span class="asterik">*</span> <i class="fas fa-question-circle" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Contact email, please use institutional email"></i></label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="{{session['email']}}"
              value="{{session['email']}}"
              required="required"
              tabindex="5"
            >
          </div>

          <div class="form-group">
            <label for="join-project-message">Please include a brief reason, describing your interests in joining OSG <span id="asterik">*</span> <i class="fas fa-question-circle" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Will you be joining an existing project that already uses OSG Connect, or do you think you are the first person joining from your research group?"></i></label>
            <textarea
              placeholder="Brief reason for joining project"
              id="join-project-message"
              name="join-project-message"
              required
              tabindex="6"
              style="background-color:white; color:black; border-radius:4px; border-color:lightgrey;"
              value=""
              ></textarea>
          </div>

          <div class="form-group custom-control custom-switch">
            <input
              type="checkbox"
              class="custom-control-input"
              name="email_preference"
              id="email_preference"
              tabindex="7">
            <label class="custom-control-label" for="email_preference">Subscribe me to OSG's mailing list</label>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary">Create Profile</button>
          </div>
        </form>
      </div> <!-- Profile Form Container -->
    </div> <!-- row -->

  </div>
</section>

<script>
var name = {{session['name']|tojson}};
var email = {{session['email']|tojson}};
var institution = {{session['institution']|tojson}};
var email_pref = {{session['email_pref']|tojson}};

window.onload = setEditFields(name, email, institution, email_pref);

function setEditFields(name, email, institution, email_pref){
  document.getElementById('name').value = name;
  document.getElementById('email').value = email;
  document.getElementById('institution').value = institution;
  if(email_pref === 'on'){
    document.getElementById('email_preference').checked = true;
  } else {
    document.getElementById('email_preference').checked = false;
  }
}
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>
{%endblock%}
