{%extends "base.html"%}

{%block title%}
  Profile
{%endblock%}

{%block body%}
<section id="profile" class="">
  <div class="container col-lg-12">
    <!-- <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active">Profile</li>
    </ol> -->
    {%include 'messages.html'%}
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <h1>Profile</h1>
        <hr/>
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="card h-100">
              <div class="card-header">
                Information <i class="fas fa-user-edit float-right"></i>
              </div>
              <div class="card-body">
                <!-- <h5 class="card-title" style="text-align: center"><i class="fas fa-user-edit fa-2x"></i></h5> -->
                <ul class="list-unstyled">
                  <li><strong>UNIX User Name:</strong> {{profile['unix_name']}}</li>
                  <li><strong>Name:</strong> {{profile['name']}}</li>
                  <li><strong>Email:</strong> {{profile['email']}}</li>
                  <li><strong>Phone:</strong> {{profile['phone']}}</li>
                  <li><strong>Institution:</strong> {{profile['institution']}}</li>
                  <br>
                  <li><strong>Joined:</strong> {{profile['join_date']}}</li>
                  <li><strong>Last Active:</strong> {{profile['last_use_time']}}</li>
                </ul>
                <a href="{{url_for('edit_profile', unix_name=profile['unix_name'])}}" class="btn btn-primary btn-sm">Edit Profile</a>
              </div>
            </div>
          </div>
          <br>
          <div class="col-sm-12 col-md-6">
            <div class="card h-100">
              <div class="card-header">
                <a href="{{url_for('users_groups')}}">My Projects</a> <i class="fas fa-users float-right"></i>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table" id="groups-table" data-toggle="table" data-sort-name="name" data-sort-order="desc">
                    <thead>
                      <tr>
                        <th data-field="name" data-sortable="true">Name</th>
                        <th data-field="status" data-sortable="true">Status</th>
                      </tr>
                    </thead>
                    <tbody data-link="row" class="rowlink" style="font-size:14px;">
                      {% for group in profile['group_memberships'] %}
                        {% if group['name'] not in ['root', 'root.osg.login-nodes', 'root.osg'] and group['state'] != 'nonmember' %}
                      <tr>
                        <td><a href="{{url_for('view_group', group_name=group['name'])}}">{{'-'.join(group['name'].split('.')[1:])}}</a></td>
                        <td>{{group['state']}}</td>
                      </tr>
                        {% endif %}
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div> <!-- row -->
  </div>
</section>

<script>
$(document).ready(function() {
  $('#groups-table').dataTable({
  "pageLength": 1;
});
</script>
{%endblock%}
